<div class="container">
  <form class="row g-3 pb-4" [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="col-md-6">
      <input type="text" class="form-control" formControlName="customerName" placeholder="First Name" autofocus
        [class]="{ 'is-invalid': submitted && form['customerName'].errors }">
      <!--error description [if]-->
      @if (submitted && form['customerName'].errors) {
        <div class="invalid-feedback">
          @if (form['customerName'].errors?.['required']) {
            <div>Customer Name is required</div>
          }
        </div>
      }
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" formControlName="customerSurname" placeholder="Last Name"
        [class]="{ 'is-invalid': submitted && form['customerSurname'].errors }">
      <!--error description [if]-->
      @if (submitted && form['customerSurname'].errors) {
        <div class="invalid-feedback">
          @if (form['customerSurname'].errors?.['required']) {
            <div>Last Name is required</div>
          }
        </div>
      }
    </div>

    <div class="col-md-6">
      <input type="email" class="form-control" formControlName="email" placeholder="Email"
        [class]="{ 'is-invalid': submitted && form['email'].errors }">
      <!--error description [if]-->
      @if (submitted && form['email'].errors) {
        <div class="invalid-feedback">
          @if (form['email'].errors?.['required']) {
            <div>Email is required</div>
          }
          @if (form['email'].errors?.['email']) {
            <div>Invalid Email address</div>
          }
        </div>
      }
    </div>
    <div class="col-md-6">
      <input type="tel" class="form-control" formControlName="phoneNumber" placeholder="Phone Number"
        [class]="{ 'is-invalid': submitted && form['phoneNumber'].errors }">
      <!--error description [if]-->
      @if (submitted && form['phoneNumber'].errors) {
        <div class="invalid-feedback">
          @if (form['phoneNumber'].errors?.['required']) {
            <div>Phone Number is required</div>
          }
        </div>
      }
    </div>

    <div class="col-md-6">
      <input type="text" class="form-control" formControlName="fullAddress" placeholder="Full Address"
        [class]="{ 'is-invalid': submitted && form['fullAddress'].errors }">
      <!--error description [if]-->
      @if (submitted && form['fullAddress'].errors) {
        <div class="invalid-feedback">
          @if (form['fullAddress'].errors?.['required']) {
            <div>Full Address is required</div>
          }
        </div>
      }
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" formControlName="fiscalCode" placeholder="Fiscal Code"
        [class]="{ 'is-invalid': submitted && form['fiscalCode'].errors }">
      <!--error description [if]-->
      @if (submitted && form['fiscalCode'].errors) {
        <div class="invalid-feedback">
          @if (form['fiscalCode'].errors?.['required']) {
            <div>Fiscal Code is required</div>
          }
        </div>
      }
    </div>

    <div class="col-md-6">
      <input type="text" class="form-control" formControlName="vatNumber" placeholder="VAT Number"
        [class]="{ 'is-invalid': submitted && form['vatNumber'].errors }">
      <!--error description [if]-->
      @if (submitted && form['vatNumber'].errors) {
        <div class="invalid-feedback">
          @if (form['vatNumber'].errors?.['required']) {
            <div>Vat Number is required</div>
          }
        </div>
      }
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" formControlName="pec" placeholder="pec"
        [class]="{ 'is-invalid': submitted && form['pec'].errors }">
      <!--error description [if]-->
      @if (submitted && form['pec'].errors) {
        <div class="invalid-feedback">
          @if (form['pec'].errors?.['required']) {
            <div>pec is required</div>
          }
        </div>
      }
    </div>

    <div class="col-md-6">
      <input type="text" class="form-control" formControlName="sdiCode" placeholder="SDI Code"
        [class]="{ 'is-invalid': submitted && form['sdiCode'].errors }">
      <!--error description [if]-->
      @if (submitted && form['sdiCode'].errors) {
        <div class="invalid-feedback">
          @if (form['sdiCode'].errors?.['required']) {
            <div>SDI Code is required</div>
          }
        </div>
      }
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" formControlName="password" placeholder="Password"
        [class]="{ 'is-invalid': submitted && form['password'].errors }">
      <!--error description [if]-->
      @if (submitted && form['password'].errors) {
        <div class="invalid-feedback">
          @if (form['password'].errors?.['required']) {
            <div>Phone Password/PIN is required</div>
          }
        </div>
      }
    </div>

    <div class="col-md-6">
      <input type="text" class="form-control" formControlName="serialDevice" placeholder="Serial Device"
        [class]="{ 'is-invalid': submitted && form['serialDevice'].errors }">
      <!--error description [if]-->
      @if (submitted && form['serialDevice'].errors) {
        <div class="invalid-feedback">
          @if (form['serialDevice'].errors?.['required']) {
            <div>Serial Device is required</div>
          }
        </div>
      }
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" formControlName="brand" placeholder="Brand"
        [class]="{ 'is-invalid': submitted && form['brand'].errors }">
      <!--error description [if]-->
      @if (submitted && form['brand'].errors) {
        <div class="invalid-feedback">
          @if (form['brand'].errors?.['required']) {
            <div>Brand is required</div>
          }
        </div>
      }
    </div>

    <div class="col-md-6">
      <input type="text" class="form-control" formControlName="template" placeholder="Template"
        [class]="{ 'is-invalid': submitted && form['template'].errors }">
      <!--error description [if]-->
      @if (submitted && form['template'].errors) {
        <div class="invalid-feedback">
          @if (form['template'].errors?.['required']) {
            <div>Template is required</div>
          }
        </div>
      }
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" formControlName="additionalNotes" placeholder="Additional Notes"
        [class]="{ 'is-invalid': submitted && form['additionalNotes'].errors }">
      <!--error description [if]-->
      @if (submitted && form['additionalNotes'].errors) {
        <div class="invalid-feedback">
          @if (form['additionalNotes'].errors?.['required']) {
            <div>Additional Notes is required</div>
          }
        </div>
      }
    </div>

    <div class="col-md-6">
      <input
        type="date"
        class="form-control"
        id="purchaseDate"
        placeholder="Purchase Date"
        formControlName="purchaseDate"
        [class]="{ 'is-invalid': submitted && form['purchaseDate'].errors }"
        />
      <label for="purchaseDate" class="form-label small text-secondary fst-italic">Purchase Date</label>
      <!--error description [if]-->
      @if (submitted && form['purchaseDate'].errors) {
        <div class="invalid-feedback w-auto float-end">
          @if (form['purchaseDate'].errors?.['required']) {
            <div> is required</div>
          }
        </div>
      }
    </div>

    <div class="col-md-6">
      <input
        type="date"
        class="form-control"
        id="warrantyExpiryDate"
        placeholder="Expiry Date"
        formControlName="warrantyExpiryDate"
        [class]="{ 'is-invalid': submitted && form['warrantyExpiryDate'].errors }"
        />
      <label for="warrantyExpiryDate" class="form-label small text-secondary fst-italic">Warranty Expiry Date</label>
      <!--error description [if]-->
      @if (submitted && form['warrantyExpiryDate'].errors) {
        <div class="invalid-feedback w-auto float-end">
          @if (form['warrantyExpiryDate'].errors?.['required']) {
            <div> is required</div>
          }
        </div>
      }
    </div>

    <div class="col-md-12">
      <textarea
        class="form-control h-auto"
        id="description"
        rows="4"
        placeholder="Description of the problem"
        name="description"
        formControlName="description"
        [class]="{ 'is-invalid': submitted && form['description'].errors }"
      ></textarea>
      <!--error description [if]-->
      @if (submitted && form['description'].errors) {
        <div class="invalid-feedback">
          @if (form['description'].errors?.['required']) {
            <div>Description is required</div>
          }
        </div>
      }
    </div>

    <div class="col-12 text-center">
      <button type="submit" class="btn btn-primary text-uppercase">
        @if (loading) {
          <span class="spinner-border spinner-border-sm mr-1"></span>
        }
        Submit product
      </button>
    </div>
  </form>
</div>
