<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form class="row g-3" [formGroup]="addServiceForm" (submit)="submit()">
        <div class="col-12">
          <label for="inputAddress" class="form-label visually-hidden"
          >Product code</label>
          <input
            type="text"
            class="form-control"
            id="inputAddress"
            placeholder="Product code"
            formControlName="productKey"
            [ngClass]="{ 'is-invalid': submitted && productKey.errors }"
            />
          @if (submitted && productKey.errors) {
            <div class="invalid-feedback">
              @if (productKey.errors['required']) {
                <div>
                  Product Code is required
                </div>
              }
            </div>
          }
        </div>
        <div class="col-md-12">
          <div class="row align-items-end">
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Expiry Date</label>
              <input
                type="date"
                class="form-control"
                id="inputEmail4"
                placeholder="Expiry Date"
                formControlName="expirayDate"
                [ngClass]="{ 'is-invalid': submitted && expirayDate.errors }"
                />
              @if (submitted && expirayDate.errors) {
                <div
                  class="invalid-feedback"
                  >
                  @if (expirayDate.errors['required']) {
                    <div>
                      Expiry Date is required
                    </div>
                  }
                </div>
              }
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label visually-hidden"
                >Service Cost</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="inputPassword4"
                  placeholder="Service Cost"
                  formControlName="serviceCost"
                  [ngClass]="{ 'is-invalid': submitted && serviceCost.errors }"
                  />
                @if (submitted && serviceCost.errors) {
                  <div
                    class="invalid-feedback"
                    >
                    @if (serviceCost.errors['required']) {
                      <div>
                        Service Cost is required
                      </div>
                    }
                  </div>
                }
              </div>
            </div>
          </div>
          <div class="col-12">
            <div
              class="form-check d-flex justify-content-center align-items-center"
              [ngClass]="{ 'is-invalid': submitted && repairStatus.errors }"
              >
              <input
                class="form-check-input"
                type="radio"
                name="repairStatus"
                id="flexRadioDefault1"
                formControlName="repairStatus"
                [value]="true"
                />
              <label class="form-check-label ms-2" for="flexRadioDefault1">
                Hey
              </label>
            </div>
            <div
              class="form-check d-flex justify-content-center align-items-center"
              >
              <input
                class="form-check-input"
                type="radio"
                name="repairStatus"
                id="flexRadioDefault2"
                formControlName="repairStatus"
                [value]="false"
                />
              <label class="form-check-label ms-2" for="flexRadioDefault2">
                Dewey
              </label>
            </div>
            @if (submitted && repairStatus.errors) {
              <div
                class="invalid-feedback text-center"
                >
                @if (repairStatus.errors['required']) {
                  <div>Status is required</div>
                }
              </div>
            }
          </div>
          <div class="col-12">
            <label
              for="exampleFormControlTextarea1"
              class="form-label visually-hidden"
              >Case Description</label
              >
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="4"
                placeholder="Case Description"
                style="height: auto"
                name="description"
                formControlName="description"
                [ngClass]="{ 'is-invalid': submitted && description.errors }"
              ></textarea>
              @if (submitted && description.errors) {
                <div class="invalid-feedback">
                  @if (description.errors['required']) {
                    <div>
                      Description is required
                    </div>
                  }
                </div>
              }
            </div>
            <div class="col-12 text-center">
              <button
                type="submit"
                class="btn btn-primary text-uppercase"
                >
                Close Service
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
