@if (showHeader) {
  <app-header [user]="user" (logoutEvent)="logout()" />
}

<div class="py-5"></div>

<div class="position-absolute alert-position">
  @for (alert of alertObject; track alert) {
    @if (alert?.type) {
      <div
        class="alert py-2 mb-4 border-0 rounded-0 shadow-sm"
        [class]="{
          'alert-success': alert.type === 'success',
          'alert-danger': alert.type === 'error'
        }"
        role="alert">
        {{ alert.message }}
      </div>
    }
  }
</div>

<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->
